# Django secret key
DJANGO_SECRET_KEY=remember-to-add-a-long-random-secret-string-here
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_DOMAIN=localhost

# PostgreSQL configuration
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=long-secret-password