# Django secret key
DJANGO_SECRET_KEY=remember-to-add-a-long-random-secret-string-here

# These can be left empty; startup scripts will handle them
DJANGO_SUPERUSER_PASSWORD=long-secret-password
SERVICE_FQDN_APP=api.haveibeenpwned.local
DOMAIN=api.haveibeenpwned.local

